body{
    background: rgb(134, 7, 7);
}

h1{
    color: #f0b30d;
    text-align: center;

}

p{
    color: #ffffff;
    font-size: 26px;
}


a{
    text-decoration: none;

}

button{
   height: 45px;
   width: 250px;
   background: #000000; 
   color: #ffffff;
   cursor: pointer;
}

h4{
    color: #ffffff;
    text-align: center;
    text-decoration: aqua;
}

.lagos{
    padding: 45px 45px;
    background: rgb(35, 39, 39);
    border: 2px solid blue;
}

#image{
    height: 300px;
    width: 300px;
    align-items: center;
    border-radius: 150px;
}